<div class="container-fluid">
  <div class="row m-3 d-flex justify-content-center">
    <h1 class="text-center">
      Technologies used
    </h1>
    <div class="col-4">
      <div class="card">
        <img src="assets/images/cypress_logo.png" width="400px" class="d-flex justify-self-center align-self-center p-4" alt="Cypress logo">
        <div class="card-body">
          <h2 class="card-title">Cypress Documentation</h2>
          <p class="card-text">Please check the links below to get more information about cypress.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="https://www.cypress.io/">
              Cypress
            </a>
          </li>
          <li class="list-group-item">
            <a href="https://jquery.com/download/">
              jQuery
            </a>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="col-4">
      <div class="card">
        <img src="assets/images/angular_logo.png" class="d-flex justify-self-center align-self-center" width="170px" alt="Angular logo">
        <div class="card-body">
          <h2 class="card-title">Angular Documentation</h2>
          <p class="card-text">Please check the links below to get more information about Angular.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="https://angular.io/">
              Angular
            </a>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="col-4">
      <div class="card">
        <img src="assets/images/bootstrap_logo.svg" class="d-flex justify-self-center align-self-center p-3" width="200px" alt="Bootstrap logo">
        <div class="card-body">
          <h2 class="card-title">Bootstrap Documentation</h2>
          <p class="card-text">Please check the links below to get more information about Bootstrap.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="https://getbootstrap.com/">
              Bootstrap
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>